.ad {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  &.single{
    background: none;
    margin: 50px 0;
  }
  .ad-item {
    width: 728px;
    height: 90px;
    background: #fff;
  }
}

.ad-col{
  @media(min-width: 1200px){
    max-width: 320px !important;
  }
}
