$cor-principal: #022e69; //Azul Escuro
$cor-secundaria: #38b6ff; // Azul claro img logo

.main {
	padding: 50px 0;
}

.desktop {
	@media (max-width: 768px) {
		display: none !important;
	}
}
.mobile {
	display: none !important;
	@media (max-width: 768px) {
		display: flex !important;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
}
