.filtro-busca{
  margin-top: 35px;
  padding: 25px 50px;
  box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.25);
  border-radius: 5px;
  .form-group{
    label{
      font-weight: 600;
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
  .form-control{
    appearance: auto !important;
  }

  .display-button{
    display: flex;
    justify-content: space-between;
    a{
      color: #4b4b4b;
      font-size: 25px;
      &:hover{
        color: $cor-secundaria;
      }
    }
  }
}