header {
	.cabecalho {
		background: #fafafa;
		position: relative;
		.listras {
			.listra {
				height: 25px;
				background-color: $cor-secundaria;
			}
		}
		.brand-home {
			padding: 25px 0;
			text-decoration: none;
			display: block;
			.logo {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					width: 100px;
				}
				h1 {
					font-size: 36px;
					margin: 0;
					color: $cor-principal;
					span {
						color: $cor-secundaria;
					}
				}
			}
		}

		.search {
			padding-bottom: 15px;

			.procura {
				.form-group {
					.form-control {
						border-radius: 0;
						border-color: $cor-principal;
						border: 1px solid;
					}
					.btn-submit {
						background: $cor-principal;
						border: 2px solid $cor-principal;
						color: #fff;
						&:hover {
							border-color: $cor-secundaria;
							background: $cor-secundaria;
						}
					}
				}
			}
		}
		.container{
		.redes-sociais {
				padding-top: 15px;
				margin-bottom: -15px;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				a {
					font-size: 18px;
					color: $cor-principal;
				}
			}			
		}
	}
	.navbar-toggler{
		color: $cor-principal;
		font-size: 35px;
	}
	.navbar {
		background: $cor-principal !important;
		height: 60px;
		.barra-navegacao{
			text-align: center;
			align-items: center;
			justify-content: space-between;
			flex: 1;
			li {
				a {
					color: #fff;
					font-size: 18px;
					text-decoration: none;
				}
			}
		}
		@media(max-width: 768px){
			height: 25px;
			.barra-navegacao{
				li{
					margin-bottom: 15px;
					a{
						color: $cor-principal;
					}
				}
			}
		}
	}

	.list-marquee {
		background: #000;
		height: 50px;
		.empresa {
			font-weight: bold;
			text-transform: uppercase;
		}
		.valor {
			margin: 0 5px;
			font-size: 18px;
		}
		.variacao {
			&.positiva {
				color: #4bb543;
			}
			&.negativa {
				color: #f32013;
			}
		}
		ul {
			display: flex;
			height: 50px;
			list-style: none;
			li {
				color: #fff;
				border-left: 1px solid #444;
				text-align: center;
				padding: 15px;
			}
		}
	}

	.btn-extensao {
		background: #1973e8;
		color: #fff !important;
		text-decoration: none;
		display: flex;
		height: 50px;
		gap: 15px;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		&:hover {
			background: darken(#1973e8, 10%);
		}
	}
}
