header {
	.cabecalho {
		background: #fafafa;
		position: relative;
		.listras {
			.listra {
				height: 25px;
				background-color: $cor-secundaria;
			}
		}
		

		.search {
			padding-bottom: 15px;

			.procura {
				.form-group {
					.form-control {
						border-radius: 0;
						border-color: $cor-principal;
						border: 1px solid;
					}
					.btn-submit {
						background: $cor-principal;
						border: 2px solid $cor-principal;
						color: #fff;
						&:hover {
							border-color: $cor-secundaria;
							background: $cor-secundaria;
						}
					}
				}
			}
		}

		.container{
		.redes-sociais {
				padding-top: 15px;
				margin-bottom: -15px;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				a {
					font-size: 18px;
					color: $cor-principal;
					transition: 0.5s all;
					&:hover{
						color: $cor-secundaria;
					}
				}
			}			
		}
	}
	.navbar-toggler{
		color: $cor-principal;
		font-size: 35px;
	}
	.navbar {
		background: $cor-principal !important;
		height: 60px;
		.barra-navegacao{
			text-align: center;
			align-items: center;
			justify-content: space-between;
			padding: 0 20px;
			flex: 1;
			li {
				a {
					color: #fff;
					font-size: 18px;
					text-decoration: none;
					&:hover{
						color: $cor-secundaria;
					}
				}
			}
		}
		@media(max-width: 992px){
			height: 25px;
			.offcanvas-header{
				background: $cor-principal;
				.offcanvas-title{
					color: #fff;
				}
				.btn-close{
					background-color: $cor-secundaria;
				}
			}
			.offcanvas-body{
				background: $cor-secundaria;
				display: flex;
			}
			.barra-navegacao{
				li{
					margin-bottom: 15px;
					a{
						color: #fff;
					}
				}
			}
		}
	}

	.btn-extensao {
		background: #1973e8;
		color: #fff !important;
		text-decoration: none;
		display: flex;
		height: 50px;
		gap: 15px;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		&:hover {
			background: darken(#1973e8, 10%);
		}
	}

	@-webkit-keyframes ticker-animation {
        100% {
          transform: translateX(-100%)
        }
      }

      @keyframes ticker-animation {
        100% {
          transform: translateX(-100%)
        }
      }



      .simple-marquee-container {
        width: 100%;
        background: #21417c;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        height: 50px;
        position: relative
      }

      .simple-marquee-container .marquee,
      .simple-marquee-container *[class^=marquee] {
        display: inline-block;
        white-space: nowrap;
        position: absolute
      }

      .simple-marquee-container .marquee-content-items {
        margin: 0;
        height: 50px;
        position: relative;
        display: inline-block;
        align-items: center;
        white-space: nowrap;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker-animation;
        animation-name: ticker-animation;
        -webkit-animation-duration: 110s;
        animation-duration: 110s
      }

      .simple-marquee-container .marquee-content-items li {
        display: inline-block;
        line-height: 35px;
        color: #fff;
        width: fit-content;
        padding: 0 24px;
        height: 50px;
        margin: 0 auto;
        letter-spacing: .02px;
        font: normal normal 600 12px/14px "Barlow";
        text-align: center;
        border-left: 1px solid #fff;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        line-height: 50px
      }

      .simple-marquee-container .marquee-content-items li:after {
        margin: 0 1em
      }

      .ticker-item-positive {
        color: #30c759;
        font-weight: 600
      }

      .ticker-item-negative {
        color: #fe3c30;
        font-weight: 600
      }
}
