#supercashback {
    background: #fdfdfe;
    padding: 50px 0 150px;
    .titulo-pagina-supercashback {
        margin-bottom: 35px;
        .titulo {
            padding: 5px 25px;
            width: max-content;
            background: linear-gradient(158.68deg, rgb(237, 0, 89) 0%, rgb(98, 0, 112) 76.66%, rgb(23, 0, 133) 100%);
            color: #fff;
            display: flex;
            gap: 15px;
            align-items: center;
            border-radius: 5px;
            h1 {
                font-size: 32px;
            }
            svg {
                width: 50px;
                height: 50px;
            }
        }
        p {
            margin-top: 15px;
            font-size: 24px;
            font-weight: 600;
        }
        @media(max-width: 768px){
            .titulo{
                padding: 5px 20px;
                h1{
                    font-size: 24px;
                }
                svg{
                    width: 35px;
                    height: 35px;
                }
            }
            p{
                font-size: 18px;
            }
        }
    }
    .item-supercashback {
        position: relative;
        text-decoration: none;
        align-items: center;
        display: flex;
        gap: 15px;
        padding: 25px;
        border-radius: 15px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #fff;
        transition: background 0.5s;
        &:hover {
            background: rgb(98, 0, 112);
            .item-preco,
            .valor-cashback,
            .item-nome {
                color: #fff !important;
            }
        }
        .thumbnail {
            width: 150px;
            height: 150px;
            background-size: cover;
            background-position: center;
            border-radius: 2px;
            margin: 0;
            img {
                border-radius: 5px;
            }
        }
        .conteudo {
            .valor-cashback {
                letter-spacing: -1px;
            }

            .item-preco {
                color: #4B4B4B;
                font-size: 1.2em;
                font-weight: 700;
                .cifras {
                    font-weight: 400;
                }
                .real {
                    font-size: 2em;
                }
                .contavos {
                    margin-left: -5px;
                }
            }
            .item-nome {
                width: 100%;
                color: #3a3535;
                font-size: 16px;
                line-height: normal;
                word-break: break-word;
                margin-bottom: 10px;
                margin-top: 5px;
            }
        }
        &::after {
            content: "";
            width: 100%;
            height: 10px;
            background: linear-gradient(158.68deg, rgb(237, 0, 89) 0%, rgb(98, 0, 112) 76.66%, rgb(23, 0, 133) 100%);
            position: absolute;
            left: 0;
            bottom: 0px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }
}