header .cabecalho {
  background: #fafafa;
  position: relative;
}

header .cabecalho .listras .listra {
  height: 25px;
  background-color: #38b6ff;
}

header .cabecalho .brand-home {
  padding: 25px 0;
  text-decoration: none;
  display: block;
}

header .cabecalho .brand-home .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .cabecalho .brand-home .logo img {
  width: 100px;
}

header .cabecalho .brand-home .logo h1 {
  font-size: 36px;
  margin: 0;
  color: #022e69;
}

header .cabecalho .brand-home .logo h1 span {
  color: #38b6ff;
}

header .cabecalho .search {
  padding-bottom: 15px;
}

header .cabecalho .search .procura .form-group .form-control {
  border-radius: 0;
  border-color: #022e69;
  border: 1px solid;
}

header .cabecalho .search .procura .form-group .btn-submit {
  background: #022e69;
  border: 2px solid #022e69;
  color: #fff;
}

header .cabecalho .search .procura .form-group .btn-submit:hover {
  border-color: #38b6ff;
  background: #38b6ff;
}

header .cabecalho .container .redes-sociais {
  padding-top: 15px;
  margin-bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .cabecalho .container .redes-sociais a {
  font-size: 18px;
  color: #022e69;
}

header .navbar-toggler {
  color: #022e69;
  font-size: 35px;
}

header .navbar {
  background: #022e69 !important;
  height: 60px;
}

header .navbar .barra-navegacao {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar .barra-navegacao li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 768px) {
  header .navbar {
    height: 25px;
  }
  header .navbar .barra-navegacao li {
    margin-bottom: 15px;
  }
  header .navbar .barra-navegacao li a {
    color: #022e69;
  }
}

header .list-marquee {
  background: #000;
  height: 50px;
}

header .list-marquee .empresa {
  font-weight: bold;
  text-transform: uppercase;
}

header .list-marquee .valor {
  margin: 0 5px;
  font-size: 18px;
}

header .list-marquee .variacao.positiva {
  color: #4bb543;
}

header .list-marquee .variacao.negativa {
  color: #f32013;
}

header .list-marquee ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  list-style: none;
}

header .list-marquee ul li {
  color: #fff;
  border-left: 1px solid #444;
  text-align: center;
  padding: 15px;
}

header .btn-extensao {
  background: #1973e8;
  color: #fff !important;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

header .btn-extensao:hover {
  background: #135cbb;
}

#supercashback {
  background: #fdfdfe;
  padding: 50px 0;
}

#supercashback .titulo {
  padding: 5px 25px;
  max-width: 500px;
  background: linear-gradient(158.68deg, #ed0059 0%, #620070 76.66%, #170085 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 16px;
}

#supercashback .titulo svg {
  width: 50px;
  height: 50px;
}

#supercashback .item-supercashback {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  background: #fff;
  -webkit-transition: background .5s;
  transition: background .5s;
}

#supercashback .item-supercashback:hover {
  background: #620070;
}

#supercashback .item-supercashback:hover .item-preco,
#supercashback .item-supercashback:hover .valor-cashback,
#supercashback .item-supercashback:hover .item-nome {
  color: #fff !important;
}

#supercashback .item-supercashback .thumbnail {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin: 0;
}

#supercashback .item-supercashback .thumbnail img {
  border-radius: 5px;
}

#supercashback .item-supercashback .conteudo .valor-cashback {
  letter-spacing: -1px;
}

#supercashback .item-supercashback .conteudo .item-preco {
  color: #508991;
  font-size: 1.2em;
  font-weight: 700;
}

#supercashback .item-supercashback .conteudo .item-preco .cifras {
  font-weight: 400;
}

#supercashback .item-supercashback .conteudo .item-preco .real {
  font-size: 2em;
}

#supercashback .item-supercashback .conteudo .item-preco .contavos {
  margin-left: -5px;
}

#supercashback .item-supercashback .conteudo .item-nome {
  width: 100%;
  color: #3a3535;
  font-size: 16px;
  line-height: normal;
  word-break: break-word;
  margin-bottom: 10px;
  margin-top: 5px;
}

.ad {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.ad .ad-item {
  width: 728px;
  height: 90px;
  background: #fff;
}

.secao-tabelas {
  padding: 50px;
}

.tabelas .titulo-tabela {
  color: #909090;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.tabelas hr {
  border: 5px solid #38b6ff !important;
  width: 25%;
  margin: 0 auto 0 0;
  border-radius: 10px;
  margin-bottom: 25px;
}

.blog {
  padding: 100px 0;
}

.blog .titulo-secao {
  background-color: #38b6ff;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  margin-bottom: 75px;
}

.blog .blog-post {
  margin-bottom: 25px;
  display: block;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.blog .blog-post figure {
  width: 100%;
  margin-bottom: 0;
}

.blog .blog-post figure img {
  width: 100%;
}

.blog .blog-post .conteudo {
  padding: 20px;
}

.blog .blog-post .conteudo h1 {
  font-size: 32px;
}

.blog .blog-post .conteudo p {
  font-size: 14px;
  text-align: justify;
}

.ad-sidebar {
  background: #ccc;
  height: 100%;
}

.tabelaVariacoes thead {
  background: #38b6ff;
  color: #fff;
  text-align: center;
}

.tabelaVariacoes thead th:first-child {
  border-radius: 7.5px 0 0 0;
}

.tabelaVariacoes thead th:last-child {
  border-radius: 0 7.5px 0 0;
}

.tabelaVariacoes tbody {
  border-top: none !important;
}

.tabelaVariacoes tbody tr td {
  border: none;
}

.tabelaVariacoes tbody tr td a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.tabelaVariacoes tbody tr td a:hover {
  color: #38b6ff;
}

.tabelaVariacoes tbody tr td:not(:first-child) {
  text-align: center;
}

.tabelaVariacoes tbody tr td.subiu, .tabelaVariacoes tbody tr td.caiu {
  color: #fff;
  font-size: 18px;
}

.tabelaVariacoes tbody tr td.subiu i, .tabelaVariacoes tbody tr td.caiu i {
  font-size: 24px;
}

.tabelaVariacoes tbody tr td.subiu {
  color: #4bb543;
}

.tabelaVariacoes tbody tr td.caiu {
  color: #f32013;
}

.tabelaVariacoes tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.tabelaVariacoes tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
/*# sourceMappingURL=index.css.map */