header .cabecalho {
  background: #fafafa;
  position: relative;
}

header .cabecalho .listras .listra {
  height: 25px;
  background-color: #38b6ff;
}

header .cabecalho .search {
  padding-bottom: 15px;
}

header .cabecalho .search .procura .form-group .form-control {
  border-radius: 0;
  border-color: #022e69;
  border: 1px solid;
}

header .cabecalho .search .procura .form-group .btn-submit {
  background: #022e69;
  border: 2px solid #022e69;
  color: #fff;
}

header .cabecalho .search .procura .form-group .btn-submit:hover {
  border-color: #38b6ff;
  background: #38b6ff;
}

header .cabecalho .container .redes-sociais {
  padding-top: 15px;
  margin-bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .cabecalho .container .redes-sociais a {
  font-size: 18px;
  color: #022e69;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

header .cabecalho .container .redes-sociais a:hover {
  color: #38b6ff;
}

header .navbar-toggler {
  color: #022e69;
  font-size: 35px;
}

header .navbar {
  background: #022e69 !important;
  height: 60px;
}

header .navbar .barra-navegacao {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .navbar .barra-navegacao li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

@media (max-width: 768px) {
  header .navbar {
    height: 25px;
  }
  header .navbar .barra-navegacao li {
    margin-bottom: 15px;
  }
  header .navbar .barra-navegacao li a {
    color: #022e69;
  }
}

header .btn-extensao {
  background: #1973e8;
  color: #fff !important;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

header .btn-extensao:hover {
  background: #135cbb;
}

@-webkit-keyframes ticker-animation {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes ticker-animation {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

header .simple-marquee-container {
  width: 100%;
  background: #21417c;
  float: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  position: relative;
}

header .simple-marquee-container .marquee,
header .simple-marquee-container *[class^=marquee] {
  display: inline-block;
  white-space: nowrap;
  position: absolute;
}

header .simple-marquee-container .marquee-content-items {
  margin: 0;
  height: 50px;
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker-animation;
  animation-name: ticker-animation;
  -webkit-animation-duration: 110s;
  animation-duration: 110s;
}

header .simple-marquee-container .marquee-content-items li {
  display: inline-block;
  line-height: 35px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 24px;
  height: 50px;
  margin: 0 auto;
  letter-spacing: .02px;
  font: normal normal 600 12px/14px "Barlow";
  text-align: center;
  border-left: 1px solid #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  line-height: 50px;
}

header .simple-marquee-container .marquee-content-items li:after {
  margin: 0 1em;
}

header .ticker-item-positive {
  color: #30c759;
  font-weight: 600;
}

header .ticker-item-negative {
  color: #fe3c30;
  font-weight: 600;
}

footer {
  padding: 50px 0;
  background: #022e69;
  overflow: hidden;
}

footer .brand-home {
  padding: 0;
  max-width: 380px;
  margin-bottom: 100px;
}

footer .brand-home .logo {
  background: #fff;
  border-radius: 15px;
}

@media (max-width: 768px) {
  footer .brand-home {
    margin: auto auto 50px auto;
  }
}

footer .lista-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
}

footer .lista-sociais h1 {
  font-size: 18px;
  color: #fff;
}

footer .lista-sociais li a {
  color: #38b6ff;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .lista-sociais li a:hover {
  background: #38b6ff;
  color: #fff;
}

@media (max-width: 768px) {
  footer .lista-sociais {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 35px;
  }
  footer .lista-sociais h1 {
    display: none;
  }
}

@media (max-width: 768px) {
  footer #logo-socials {
    display: block !important;
  }
}

@media (max-width: 1200px) {
  footer #logo-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .menu {
  color: #fff;
  list-style: none;
  padding: 0;
  margin-bottom: 35px;
}

footer .menu h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 25px;
}

footer .menu li {
  margin-bottom: 15px;
}

footer .menu li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .menu li a:hover {
  color: #38b6ff;
}

#supercashback {
  background: #fdfdfe;
  padding: 50px 0 150px;
}

#supercashback .titulo-pagina-supercashback {
  margin-bottom: 35px;
}

#supercashback .titulo-pagina-supercashback .titulo {
  padding: 5px 25px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: linear-gradient(158.68deg, #ed0059 0%, #620070 76.66%, #170085 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

#supercashback .titulo-pagina-supercashback .titulo h1 {
  font-size: 32px;
}

#supercashback .titulo-pagina-supercashback .titulo svg {
  width: 50px;
  height: 50px;
}

#supercashback .titulo-pagina-supercashback p {
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}

#supercashback .item-supercashback {
  position: relative;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #fff;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#supercashback .item-supercashback:hover {
  background: #620070;
}

#supercashback .item-supercashback:hover .item-preco,
#supercashback .item-supercashback:hover .valor-cashback,
#supercashback .item-supercashback:hover .item-nome {
  color: #fff !important;
}

#supercashback .item-supercashback .thumbnail {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  margin: 0;
}

#supercashback .item-supercashback .thumbnail img {
  border-radius: 5px;
}

#supercashback .item-supercashback .conteudo .valor-cashback {
  letter-spacing: -1px;
}

#supercashback .item-supercashback .conteudo .item-preco {
  color: #4B4B4B;
  font-size: 1.2em;
  font-weight: 700;
}

#supercashback .item-supercashback .conteudo .item-preco .cifras {
  font-weight: 400;
}

#supercashback .item-supercashback .conteudo .item-preco .real {
  font-size: 2em;
}

#supercashback .item-supercashback .conteudo .item-preco .contavos {
  margin-left: -5px;
}

#supercashback .item-supercashback .conteudo .item-nome {
  width: 100%;
  color: #3a3535;
  font-size: 16px;
  line-height: normal;
  word-break: break-word;
  margin-bottom: 10px;
  margin-top: 5px;
}

#supercashback .item-supercashback::after {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(158.68deg, #ed0059 0%, #620070 76.66%, #170085 100%);
  position: absolute;
  left: 0;
  bottom: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page-empresa .secao-titulo {
  margin: 50px 0;
}

.page-empresa .secao-titulo .titulo-pagina {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.page-empresa .secao-titulo .titulo-pagina figure {
  margin-bottom: 0;
}

.page-empresa .secao-titulo .titulo-pagina figure .store {
  width: 80px;
}

.page-empresa .secao-titulo .titulo-pagina h2 {
  font-size: 42px;
  font-weight: 700;
  color: #2e2e2e;
  margin-bottom: 5px;
}

.page-empresa .secao-titulo .titulo-pagina h1 {
  font-size: 28px;
}

.page-empresa .tabelas-empresa {
  margin: 50px 0 25px;
}

.page-empresa .tabelas-empresa .card {
  margin-bottom: 35px;
}

.page-empresa .tabelas-empresa .card-header {
  background: #022e69;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.page-empresa .tabelas-empresa .card-header h1 {
  font-size: 20px;
  margin-bottom: 0;
}

.page-empresa .tabelas-empresa .card-body {
  padding: 0;
}

.page-empresa .tabelas-empresa .card-body table {
  margin: 0;
}

.page-empresa .tabelas-empresa .card-body table thead {
  background: #6eabfc;
  color: #fff;
  text-align: center;
  font-size: 19px;
}

.page-empresa .tabelas-empresa .card-body table tbody {
  border-top: none;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td a {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td a:hover {
  color: #38b6ff;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td.site {
  width: 45%;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td.site img {
  max-width: 30px;
  margin-right: 15px;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td.ganho .progress {
  margin-top: 5px;
}

.page-empresa .tabelas-empresa .card-body table tbody tr td.ganho .progress, .page-empresa .tabelas-empresa .card-body table tbody tr td.ganho .progress-bar {
  height: 9px;
}

.page-empresa .recompensas table tr td.site {
  width: 35% !important;
}

.page-empresa .cashback table tr td.site {
  width: 50% !important;
}

.page-empresa .historico .titulo-secao {
  margin-bottom: 25px;
}

.page-empresa .historico .titulo-secao h1 {
  color: #2e2e2e;
  border-left: 6px solid #022e69;
  padding-left: 10px;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
}

.page-empresa .historico .grafico {
  margin: 50px 0;
}

.tabela-empresas-cashback {
  margin-top: 35px;
}

.tabela-empresas th {
  background: #496ba9 !important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* Don't forget this, required for the stickiness */
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  color: #fff !important;
  font-weight: 700 !important;
  text-align: center;
  font-size: 19px;
  max-width: 75px;
  word-wrap: break-word;
  vertical-align: middle;
}

.tabela-empresas th:first-child {
  border-top-left-radius: 15px;
}

.tabela-empresas th:last-child {
  border-top-right-radius: 15px;
}

.tabela-empresas th p {
  margin: 0;
}

@media (max-width: 1200px) {
  .tabela-empresas th {
    font-size: 12px;
  }
}

.tabela-empresas tbody {
  border-top: none !important;
}

.tabela-empresas tbody tr td a {
  font-size: 20px;
  color: #4b4b4b;
  font-weight: 600;
  text-decoration: none;
}

.tabela-empresas tbody tr td a:hover {
  color: #000;
}

@media (max-width: 1200px) {
  .tabela-empresas tbody tr td a {
    font-size: 16px;
  }
}

.tabela-empresas tbody tr td:nth-child(1) {
  max-width: 150px;
}

.tabela-empresas tbody tr td:nth-child(1) a {
  font-size: 22px;
}

@media (max-width: 1200px) {
  .tabela-empresas tbody tr td:nth-child(1) a {
    font-size: 16px;
  }
}

.tabela-empresas tbody tr td:nth-child(2) {
  background: #d4edda;
}

.page-cashback {
  padding: 50px 0;
}

.page-comparador {
  padding: 50px 0 100px;
}

.page-comparador .titulo-pagina {
  margin-bottom: 50px;
}

.page-comparador .descricao-detalhe {
  font-size: 24px;
  text-align: justify;
  color: #4b4b4b;
  background: #a0c8fd;
  padding: 25px;
  border-radius: 15px;
}

.page-comparador header {
  background: #38b6ff;
  padding: 10px 0;
  border: 1px solid #38b6ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page-comparador header h1 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
}

.page-comparador form {
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-comparador form select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.page-comparador form .form-group {
  margin-bottom: 35px;
}

.page-comparador form .form-group label {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.page-comparador form .form-group .form-control {
  height: 60px;
}

.page-comparador form .btn-enviar {
  background: #022e69;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-comparador form .btn-enviar:hover {
  background: #045acd;
}

.page-comparador form .atualizacao {
  margin-top: 25px;
  color: #4b4b4b;
  font-size: 18px;
}

.page-resultado-comparador .tabela-resultado {
  padding: 50px;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos {
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .card-header {
  background: #022e69;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .card-header h1 {
  text-align: center;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 0;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ccc;
  padding: 15px;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao p {
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  text-align: right;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.ganhos, .page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.transferencia-bonificada {
  display: block;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.ganhos h2, .page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.transferencia-bonificada h2 {
  margin-bottom: 15px;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.ganhos p, .page-resultado-comparador .tabela-resultado .tabela-ganhos .secao.transferencia-bonificada p {
  font-size: 42px;
  font-weight: 700;
  color: #022e69;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .secao:last-child {
  border-bottom: none;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .card-footer {
  color: #022e69;
  background: #00446b;
  -webkit-transition: all 0.125s;
  transition: all 0.125s;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #00446b;
  color: #fff;
}

.page-resultado-comparador .tabela-resultado .tabela-ganhos .card-footer:hover {
  background: #022e69;
}

.page-resultado-comparador .tabela-resultado .observacoes {
  margin-top: 50px;
  text-align: justify;
  color: #4b4b4b;
  background: #a0c8fd;
  padding: 25px;
  border-radius: 15px;
}

.page-resultado-comparador .tabela-resultado .observacoes h1 {
  font-size: 22px;
  text-transform: uppercase;
}

.page-resultado-comparador .tabela-resultado .observacoes p {
  font-size: 18px;
  margin-bottom: 0;
}

.page-calculadora {
  padding: 50px 0 100px;
}

.page-calculadora .titulo-pagina {
  margin-bottom: 50px;
}

.page-calculadora .descricao-detalhe {
  font-size: 24px;
  text-align: justify;
  color: #4b4b4b;
  background: #a0c8fd;
  padding: 25px;
  border-radius: 15px;
}

.page-calculadora header {
  background: #38b6ff;
  padding: 10px 0;
  border: 1px solid #38b6ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.page-calculadora header h1 {
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  font-size: 36px;
}

.page-calculadora form {
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-calculadora form select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.page-calculadora form .form-group {
  margin-bottom: 35px;
}

.page-calculadora form .form-group label {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.page-calculadora form .form-group .form-control {
  height: 60px;
}

.page-calculadora form .btn-enviar {
  background: #022e69;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-calculadora form .btn-enviar:hover {
  background: #045acd;
}

.page-calculadora form .atualizacao {
  margin-top: 25px;
  color: #4b4b4b;
  font-size: 18px;
}

.page-resultado-cotacao {
  padding-bottom: 0 !important;
}

.page-resultado-cotacao .resultado-cotacao {
  padding: 50px 0 100px;
  background: #f8f9fa;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  height: 100%;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .logo-comprador {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .logo-comprador img {
  width: 150px;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container {
  margin-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
  padding-bottom: 15px;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container .valor-absoluto p {
  font-weight: 700;
  margin-bottom: 0;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container .variacao p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 0;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container .valor {
  width: 100%;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container .valor h6 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container .valor p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 10px;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .cotacao-container:last-child {
  margin-bottom: 50px;
  border-bottom: none !important;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .btn-visitar {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  border: 1px solid #022e69;
  color: #022e69;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-resultado-cotacao .resultado-cotacao .box-cotacao .btn-visitar:hover {
  background: #022e69;
  color: #fff;
}

.page-resultado-cotacao .resultado-cotacao .btn-novacotacao {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: #38b6ff;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-resultado-cotacao .resultado-cotacao .btn-novacotacao:hover {
  background: #022e69;
}

.titulo-pagina {
  padding-left: 25px;
  border-left: 12px solid #022e69;
}

.titulo-pagina h1 {
  font-size: 48px;
  color: #022e69;
  font-weight: 700;
}

.titulo-pagina p {
  font-size: 36px;
  color: #4b4b4b;
}

@media (max-width: 992px) {
  .titulo-pagina {
    border-width: 7px;
    padding-left: 15px;
  }
  .titulo-pagina h1 {
    font-size: 24px;
  }
  .titulo-pagina p {
    font-size: 18px;
  }
}

.page-contato {
  padding: 50px 0 100px;
}

.page-contato form {
  margin: 50px 0;
  background: #fff;
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.18);
  border-radius: 25px;
  padding: 50px;
}

.page-contato form .form-group {
  margin-bottom: 25px;
}

.page-contato form .form-group label {
  font-size: 25px;
  font-weight: 700;
  color: #4b4b4b;
  margin-bottom: 10px;
}

.page-contato form .form-group .form-control {
  height: 60px;
}

.page-contato form .form-group textarea.form-control {
  height: 250px;
  resize: none;
}

.page-contato form .btn-enviar {
  background: #022e69;
  color: #fff;
  width: 100%;
  height: 60px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-contato form .btn-enviar:hover {
  background: #045acd;
}

.brand-home {
  padding: 25px 0;
  text-decoration: none;
  display: block;
}

.brand-home .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand-home .logo img {
  width: 100px;
}

.brand-home .logo h1 {
  font-size: 36px;
  margin: 0;
  color: #022e69;
}

.brand-home .logo h1 span {
  color: #38b6ff;
}

#newsletter {
  margin: 25px 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#newsletter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#newsletter .newsletter-form {
  padding: 25px 0 0 25px;
}

#newsletter .newsletter-form .titulo-pagina {
  margin-bottom: 25px;
}

#newsletter .newsletter-form .titulo-pagina h1 {
  font-size: 32px;
}

#newsletter .newsletter-form .titulo-pagina p {
  font-size: 24px;
}

#newsletter .newsletter-form .form-group {
  margin-bottom: 25px;
}

#newsletter .newsletter-form .form-group .form-label {
  font-weight: 600;
}

#newsletter .newsletter-form .form-group .form-control {
  height: 50px;
  border-color: #022e69;
}

#newsletter .newsletter-form .btn-enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  color: #fff;
  background: #022e69;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
}

#newsletter .thumbnail {
  border-radius: 5px;
  background: #38b6ff;
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#newsletter .thumbnail i {
  font-size: 120px;
}

#newsletter.simples .thumbnail {
  display: none;
}

@media (max-width: 992px) {
  #newsletter .thumbnail {
    display: none;
  }
}

.filtro-busca {
  margin-top: 35px;
  padding: 25px 50px;
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.filtro-busca .form-group label {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.filtro-busca .form-control {
  -webkit-appearance: auto !important;
     -moz-appearance: auto !important;
          appearance: auto !important;
}

.pagination-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0;
}

.pagination-container .pagination .page-item .page-link:hover, .pagination-container .pagination .page-item .page-link.active {
  background: #38b6ff;
  color: #fff;
}

.pagination-container .pagination .page-item:first-child .page-link, .pagination-container .pagination .page-item:last-child .page-link {
  background: #022e69;
  color: #fff;
}

.pagination-container .pagination .page-item:first-child .page-link:hover, .pagination-container .pagination .page-item:last-child .page-link:hover {
  background: #38b6ff;
}

.ad {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.ad.single {
  background: none;
  margin: 50px 0;
}

.ad .ad-item {
  width: 728px;
  height: 90px;
  background: #fff;
}

@media (max-width: 768px) {
  .ad.desktop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ad-col {
    max-width: 300px !important;
  }
}

.secao-tabelas {
  padding: 50px;
}

.tabelas .titulo-tabela {
  color: #909090;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
}

.tabelas hr {
  border: 5px solid #38b6ff !important;
  width: 25%;
  margin: 0 auto 0 0;
  border-radius: 10px;
  margin-bottom: 25px;
}

.blog {
  padding: 100px 0;
}

.blog .titulo-secao {
  background-color: #38b6ff;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  margin-bottom: 75px;
}

.blog .blog-post {
  margin-bottom: 25px;
  display: block;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.blog .blog-post figure {
  width: 100%;
  margin-bottom: 0;
}

.blog .blog-post figure img {
  width: 100%;
}

.blog .blog-post .conteudo {
  padding: 20px;
}

.blog .blog-post .conteudo h1 {
  font-size: 32px;
}

.blog .blog-post .conteudo p {
  font-size: 14px;
  text-align: justify;
}

.ad-sidebar {
  background: #ccc;
  height: 100%;
}

.tabelaVariacoes thead {
  background: #38b6ff;
  color: #fff;
  text-align: center;
}

.tabelaVariacoes thead th:first-child {
  border-radius: 7.5px 0 0 0;
}

.tabelaVariacoes thead th:last-child {
  border-radius: 0 7.5px 0 0;
}

.tabelaVariacoes tbody {
  border-top: none !important;
}

.tabelaVariacoes tbody tr td {
  border: none;
}

.tabelaVariacoes tbody tr td a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.tabelaVariacoes tbody tr td a:hover {
  color: #38b6ff;
}

.tabelaVariacoes tbody tr td:not(:first-child) {
  text-align: center;
}

.tabelaVariacoes tbody tr td.subiu, .tabelaVariacoes tbody tr td.caiu {
  color: #fff;
  font-size: 18px;
}

.tabelaVariacoes tbody tr td.subiu i, .tabelaVariacoes tbody tr td.caiu i {
  font-size: 24px;
}

.tabelaVariacoes tbody tr td.subiu {
  color: #4bb543;
}

.tabelaVariacoes tbody tr td.caiu {
  color: #f32013;
}

.tabelaVariacoes tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.tabelaVariacoes tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
/*# sourceMappingURL=index.css.map */