header .ad {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

header .ad .ad-item {
  width: 728px;
  height: 90px;
  background: #fff;
}

header .cabecalho {
  background: #fafafa;
}

header .cabecalho .listras .listra1 {
  height: 60px;
  background-color: #022e69;
}

header .cabecalho .listras .listra2 {
  height: 25px;
  background-color: #38b6ff;
}

header .cabecalho .brand-home {
  padding: 25px 0;
  text-decoration: none;
  display: block;
}

header .cabecalho .brand-home .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .cabecalho .brand-home .logo img {
  width: 100px;
}

header .cabecalho .brand-home .logo h1 {
  font-size: 36px;
  margin: 0;
  color: #022e69;
}

header .cabecalho .brand-home .logo h1 span {
  color: #38b6ff;
}

header .cabecalho .search-socials {
  padding-bottom: 15px;
}

header .cabecalho .search-socials .procura .form-group .form-control {
  border-radius: 0;
  border-color: #022e69;
  border: 1px solid;
}

header .cabecalho .search-socials .procura .form-group .btn-submit {
  background: #022e69;
  border: 2px solid #022e69;
  color: #fff;
}

header .cabecalho .search-socials .procura .form-group .btn-submit:hover {
  border-color: #38b6ff;
  background: #38b6ff;
}

header .cabecalho .search-socials .redes-sociais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .cabecalho .search-socials .redes-sociais a {
  font-size: 35px;
  color: #022e69;
}

header .navbar {
  background: #022e69 !important;
}

header .navbar ul li a {
  color: #fff;
  font-size: 18px;
}

header .list-marquee {
  background: #000;
  height: 50px;
}

header .list-marquee .empresa {
  font-weight: bold;
  text-transform: uppercase;
}

header .list-marquee .valor {
  margin: 0 5px;
  font-size: 18px;
}

header .list-marquee .variacao.positiva {
  color: #4BB543;
}

header .list-marquee .variacao.negativa {
  color: #F32013;
}

header .list-marquee ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  list-style: none;
}

header .list-marquee ul li {
  color: #fff;
  border-left: 1px solid #444;
  text-align: center;
  padding: 15px;
}

header .btn-extensao {
  background: #1973e8;
  color: #fff !important;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
}

header .btn-extensao:hover {
  background: #135cbb;
}

.tabelas {
  padding: 50px 0;
}

.tabelaVariacoes {
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.tabelaVariacoes::-webkit-scrollbar {
  width: 5px;
}

.tabelaVariacoes::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.tabelaVariacoes::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}

.tabelaVariacoes table {
  margin-bottom: 0;
}

.tabelaVariacoes table thead {
  border: 1px solid #38b6ff;
  background-color: #38b6ff;
  color: #fff;
}

.tabelaVariacoes table thead th {
  background-color: #38b6ff;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tabelaVariacoes table tbody {
  border-top: none !important;
}

.tabelaVariacoes table tbody tr td:not(:first-child) {
  text-align: center;
}

.tabelaVariacoes table tbody tr td.subiu, .tabelaVariacoes table tbody tr td.caiu {
  color: #fff;
  font-size: 18px;
}

.tabelaVariacoes table tbody tr td.subiu {
  background: #4BB543;
}

.tabelaVariacoes table tbody tr td.caiu {
  background: #F32013;
}

.blog {
  padding: 100px 0;
}

.blog .titulo-secao {
  background-color: #38b6ff;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 15px;
  margin-bottom: 75px;
}

.blog .blog-post {
  margin-bottom: 25px;
  display: block;
  -webkit-box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.blog .blog-post figure {
  width: 100%;
  margin-bottom: 0;
}

.blog .blog-post figure img {
  width: 100%;
}

.blog .blog-post .conteudo {
  padding: 20px;
}

.blog .blog-post .conteudo h1 {
  font-size: 32px;
}

.blog .blog-post .conteudo p {
  font-size: 14px;
  text-align: justify;
}

.ad-sidebar {
  background: #ccc;
  height: 100%;
}
/*# sourceMappingURL=index.css.map */